.checkbox-tile-image image {
    fill: fb-red;
}

.checkbox-unselected-color image {
    fill: fb-cyan;
}

.tile-divider-bottom {
    x: 0;
    y: 100%-2;
    width: 100%;
    height: 2;
    fill: blue;
}
